{{- $machineClass := promptStringOnce . "machineClass" "Machine class (mac / linux / wsl / ephemeral)" -}}

{{ if eq $machineClass "mac" -}}
# The development clone doubles as the chezmoi source directory on macs.
sourceDir = "~/code/dotfiles"

{{ end -}}
[data]
    machineClass = {{ $machineClass | quote }}
